.spacing-in-top{
    height:70px
}
.courses-container{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-content:center;
    padding:20px var(--margin-side)
}
.courses-container .heading{
    margin-bottom:12px
}
.courses-container .heading-details{
    font-size:20px;
    margin-bottom:28px
}

@media (max-width: 768px)
{
.courses-container main{
    width:100%;
    display:grid;
    grid-template-columns:repeat(auto-fit, 43%);;
    justify-content:flex-start;
    gap:16px
}
}
.courses-container .title{
    color:var(--secondary);
    font-weight:600
}
.courses-container main a{
    text-decoration:none
}
.courses-single-item-container{
    height:150px;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    position:relative;
    overflow:hidden;
    background:var(--neutral-grey);
    border-radius:10px
}
.courses-single-item-container .courses-single-item-title{
    font-size:16px;
    line-height:18px;
    text-align:center;
    padding:0 8px;
    height:50px
}
.courses-single-item-container img{
    width:70px;
    margin:auto
}
.courses-single-item-container:hover{
    background-color:#fff;
    border:1.5px var(--secondary-red) solid;
    border-radius:10px;
    box-shadow:0 0 15px rgba(12,11,11,.6);
    text-decoration:underline;
    font-weight:600
}
.heading a{
    text-decoration:none;
    color:var(--primary-blue)
}
.accordion-button{
    position:relative;
    display:flex;
    align-items:center;
    width:100%;
    padding:1rem 1.25rem;
    font-size:1rem;
    color:#212529;
    text-align:left;
    background-color:#fff;
    border:0;
    border-radius:0;
    overflow-anchor:none;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease
}
@media (prefers-reduced-motion:reduce){
    .accordion-button{
        transition:none
    }
}
.accordion-button:not(.collapsed){
    color:#0c63e4;
    background-color:#e7f1ff;
    box-shadow:inset 0 -1px 0 rgba(0,0,0,.125)
}
.accordion-button:not(.collapsed)::after{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform:rotate(180deg)
}
.accordion-button::after{
    flex-shrink:0;
    width:1.25rem;
    height:1.25rem;
    margin-left:auto;
    content:"";
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat:no-repeat;
    background-size:1.25rem;
    transition:transform .2s ease-in-out
}
@media (prefers-reduced-motion:reduce){
    .accordion-button::after{
        transition:none
    }
}
.accordion-button:hover{
    z-index:2
}
.accordion-button:focus{
    z-index:3;
    border-color:#86b7fe;
    outline:0;
    box-shadow:0 0 0 .25rem rgba(13,110,253,.25)
}
.accordion-header{
    margin-bottom:0
}
.accordion-item{
    margin-bottom:-1px;
    background-color:#fff;
    border:1px solid rgba(0,0,0,.125)
}
.accordion-item:first-of-type{
    border-top-left-radius:.25rem;
    border-top-right-radius:.25rem
}
.accordion-item:first-of-type .accordion-button{
    border-top-left-radius:calc(.25rem - 1px);
    border-top-right-radius:calc(.25rem - 1px)
}
.accordion-item:last-of-type{
    margin-bottom:0;
    border-bottom-right-radius:.25rem;
    border-bottom-left-radius:.25rem
}
.accordion-item:last-of-type .accordion-button.collapsed{
    border-bottom-right-radius:calc(.25rem - 1px);
    border-bottom-left-radius:calc(.25rem - 1px)
}
.accordion-item:last-of-type .accordion-collapse{
    border-bottom-right-radius:.25rem;
    border-bottom-left-radius:.25rem
}
.accordion-body{
    padding:1rem 1.25rem
}
.accordion-flush .accordion-collapse{
    border-width:0
}
.accordion-flush .accordion-item{
    border-right:0;
    border-left:0;
    border-radius:0
}
.accordion-flush .accordion-item:first-child{
    border-top:0
}
.accordion-flush .accordion-item:last-child{
    border-bottom:0
}
.accordion-flush .accordion-item .accordion-button{
    border-radius:0
}
table{
    caption-side:bottom;
    border-collapse:collapse
}
